<div class="plunker-userpane" ng-switch="userPane.visitor.isMember()">
  <div ng-if="!userPane.user.verified">
    <button id="sign" class="btn btn-side" ng-click="userPane.showLoginWindow()">Login</button>
  </div>
  <div ng-if="userPane.user.verified" class="pull-right dropdown">
                    <div class="plunker-profile"  onclick="myFunction()">
			    <img src="{{userPane.user.pro_pic}}" width="30px" height="30px" class="img-circle">
                        <label class="profile-text">&nbsp;&nbsp;{{userPane.user.name}}&nbsp;<span class="caret"></span></label>
                    	<div class="overlay"></div>
		    </div>

                    <div class="dropdown-content" id="myDropdown">
                        <a href="/" target="_self">Dashboard&nbsp;&nbsp;<span class="glyphicon glyphicon-dashboard"></span></a>
			<a href="/id/profile" target="_self">My profile&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></a>
                        <a href="/logout" target="_self">Logout&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                    </div>
                </div>

</div>
