               <div class="pull-right drpdown">
                    <div class="plunker-profile"  onclick="myFunction()">
                        <img src="resource/pro-pic.jpg" width="30px" height="30px" class="img-circle">
                        <label class="profile-text">&nbsp;&nbsp;{{user.name}}&nbsp;<span class="caret"></span></label>
                    </div>

                    <div class="drpdown-content" id="myDropdown">
                        <a href="console.html">Dashboard&nbsp;&nbsp;<span class="glyphicon glyphicon-dashboard"></span></a>
                        <a href="#">My profile&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></a>
                        <a href="#">Logout&nbsp;&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                    </div>
                </div>
