.navbar-static-top {
  background-color: @themecolmain;
  border: none;
  min-height: 38px;
  box-shadow: 0px 2px 15px grey;
  top: 0px;
  position: fixed;
  width: 100%; 
}

.navbar-nav {
  margin-left: 10px;
  &>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}


.toolbar-group {
  display: inline-block;
  margin-left: 1em;
  margin: 6px;
}

.navbar-right {
  margin-right: 15px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor:default;
    pointer-events: none;
    opacity: 1;
  }
