<div class="plunk-h card media">
  <div class="media-body card-block">
    <h3 class="card-text">
      <a href="/edit/{{name}}/{{test_no}}/{{plunkId}}">{{description}}</a><hr>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, metus tempus vulputate auctor, risus odio bibendum enim, sit amet porta ante tortor maximus nunc. Nulla venenatis ex ipsum, a lobortis arcu pharetra sed. Phasellus ut elementum tortor. Cras ut ex eget neque consequat egestas. Quisque ut hendrerit metus. Maecenas pharetra mi nisi, id ornare dolor feugiat ac. Duis elementum eleifend ligula et gravida. Maecenas feugiat, risus porta aliquam vulputate, risus mauris tristique magna, id faucibus erat tellus id sapien. Etiam nec eros vitae lectus tincidunt ornare ac pretium nisl. Sed neque nisl, tempus non varius eget, molestie at turpis.</p>
    </h3>
    {{#if fork_of}}
    <div class="forked text-muted"><i class="fa fa-code-fork"></i> Forked from <a href="/plunks/{{fork_of}}">{{fork_of}}</a></div>
    {{/if}}
    
    <div class="tags">
      <ul class="list-inline">
        {{#each tags}}
        <li>
          <a class="label label-primary" href="/tags/{{this}}">{{this}}</a>
        </li>
        {{/each}}
        {{#each packages}}
        <li>
          <a class="label label-success" href="/packages/{{name}}">{{name}}@{{semver}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<br>
