<div class="plunk-h media">
  <div class="pull-left plunk-image">
    <div class="plunk-image-overlay">
    </div>
    <a href="/plunks/{{id}}">
      <img class="media-object"  src="/image/java.jpg" width="156px" height="117px">
    </a>
  </div>
  <div class="media-body">
    <h3>
      <a href="/edit/{{name}}/{{test_no}}/{{plunkId}}">{{description}}</a>
    </h3>
    {{#if fork_of}}
    <div class="forked text-muted"><i class="fa fa-code-fork"></i> Forked from <a href="/plunks/{{fork_of}}">{{fork_of}}</a></div>
    {{/if}}
    
    <div class="tags">
      <ul class="list-inline">
        {{#each tags}}
        <li>
          <a class="label label-primary" href="/tags/{{this}}">{{this}}</a>
        </li>
        {{/each}}
        {{#each packages}}
        <li>
          <a class="label label-success" href="/packages/{{name}}">{{name}}@{{semver}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
