<div class="plunk-h card media">
  <div class="media-body card-block">
    <h3 class="card-text">
      <a href="/edit/{{name}}/{{test_no}}/{{plunkId}}">{{description}}</a>&nbsp&nbsp<span data-toggle="collapse" data-target="#{{_id}}" class="glyphicon glyphicon-menu-down"></span>
    </h3>
      <div id="{{_id}}" class="collapse in">
        <div class="container-fluid line"><p>{{explanation}}</p></div>
      </div>
    {{#if fork_of}}
    <div class="forked text-muted"><i class="fa fa-code-fork"></i> Forked from <a href="/plunks/{{fork_of}}">{{fork_of}}</a></div>
    {{/if}}
    
    <div class="tags">
      <ul class="list-inline">
        {{#each tags}}
        <li>
          <a class="label label-primary" href="/tags/{{this}}">{{this}}</a>
        </li>
        {{/each}}
        {{#each packages}}
        <li>
          <a class="label label-success" href="/packages/{{name}}">{{name}}@{{semver}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
