<div>
<div class="console-tab">
    <ul class="nav nav-tabs">
	    <li style="cursor: pointer;" ng-click="click(0)"><a style="background-color: #555; color: white;">{{temp[0].filename}}</a></li>
	<li style="cursor: pointer;"ng-click="click(1)"><a style="background-color: #555; color: white;">console</a></li>
    </ul>
</div>

<div>
		<div class = "panel">
			<!--
			<div class="panel-heading"></div>-->
			<div style="background:#ffffff" class="panel-body">
				<h4 id ="testmessage">{{definition}}</h4>
			</div>
		</div>

		<div class="panel panel-{{status == 'passed'? 'success' : 'danger'}}" style="margin-top:5%">
			<div class="panel-heading"></div>
			<div style="background:#ffffff" class="panel-body">
				<h4 id="testmessage">{{description}}</h4>
			</div>
		</div>

		<div class="panel">
			<div class="panel-heading"></div>
			<div style="background:#ffffff" class="panel-body">
				<h4 id ="testmessage"><pre>{{instruction}}</pre></h4>
			</div>
		</div>

		<div class="panel">
			<div class="panel-heading"></div>
			<div style="background:#ffffff" class="panel-body">
					<h4>Errors</h4>
				<h4 id ="testmessage"><pre>{{error}}</pre></h4>
			</div>
		</div>

			<hr>
			<button type="button" class="btn btn-default" ng-click="isCollapsed()"style="background-color:#28b62c;font-size:10pt;color:white;width:350px">Hint</button>
			<hr>
			<div style="visibility: {{hintVar}}">
				<div class="well well-sm"><pre>{{hint}}</pre></div>
			</div>

</div>
</div>
