<!DOCTYPE html>
<html ng-app="plunker">

  <head>
     
    <meta charset="utf-8" />
    <title>cuboid.io{{subtitle}}</title>
    <link rel="stylesheet" href="/components/logo/logostyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link data-require="font-awesome@*" data-semver="4.1.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/landing/landing-eeddb775.css">
    <!-- endinject -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-timeago/angular-timeago.js"></script>
    <!-- inject:js -->
    <script src="/landing/landing.js"></script>
    <!-- endinject -->
    <!-- inject:json -->
    <script>angular.module("plunker.service.config", []).value("config",JSON.parse(atob("ewogICJ1cmwiOiB7CiAgICAiYXBpIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsCiAgICAicnVuIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsCiAgICAid2ViIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIKICB9Cn0K")));</script>
    <!-- endinject -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
	<div class="pull-left">
	<a href="/">
        <svg class="ssvg" style="float: left;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="-200 0 1000 500" style="enable-background:new 0 0 1000 500;" xml:space="preserve">

        <text id="cuboid" transform="matrix(1 0 0 1 37.3206 309.5646)"><tspan x="-10" y="0" class="st0 st1">&gt;</tspan><tspan x="138.7" y="0" class="st2 st1">cuboid.io</tspan></text>

        <rect id="underScore" x="167.4" y="315.4" class="st3" width="106" height="16.6"/>
    </svg>
	</a>
	
	<div id="beta">
		<a href="#"><input class="btn btn-side disabled" value="Beta"></a>
	</div>	
	     <div id="scuboid">
			<input class="form-control" placeholder="Search cuboid.io">
		</div>
	</div>
          <div id="sign">
            <input class="btn btn-side pull-right" value="Sign Up" ng-click="userPane.showLoginWindow()">
          </div>
          </div>
    </nav>

<div class="container-fluid">
	<div class=row>
        
		<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0">

			<!--
            <div class="row" >
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-section">
								
								
				</div>			
			
			</div>
            -->
		
		</div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
			
   					 {{{ content }}}
			
		</div>
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
	</div>
    <!--<div growl></div>-->
      <br>
  </body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <footer>
			<h5> <b>We are in beta! We would love to hear your feedback.</b></h5>
	</footer>



</html>
