<!DOCTYPE html>
<html ng-app="plunker">

  <head>
     
    <meta charset="utf-8" />
    <title>cuboid.io{{subtitle}}</title>
    <link rel="stylesheet" href="/components/logo/logostyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link data-require="font-awesome@*" data-semver="4.1.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/landing/landing-80aa56b5.css">
    <!-- endinject -->
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-timeago/angular-timeago.js"></script>
    <!-- inject:js -->
    <script src="/landing/landing.js"></script>
    <!-- endinject -->
    <!-- inject:json -->
    <script>angular.module("plunker.service.config", []).value("config",JSON.parse(atob("ewogICJ1cmwiOiB7CiAgICAiYXBpIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsCiAgICAicnVuIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIsCiAgICAid2ViIjogImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MCIKICB9Cn0K")));</script>
    <!-- endinject -->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
	<div class="pull-left">
	<a href="/">
        <svg class="ssvg" style="float: left;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="-200 0 1000 500" style="enable-background:new 0 0 1000 500;" xml:space="preserve">

        <text id="cuboid" transform="matrix(1 0 0 1 37.3206 309.5646)"><tspan x="-10" y="0" class="st0 st1">&gt;</tspan><tspan x="138.7" y="0" class="st2 st1">cuboid.io</tspan></text>

        <rect id="underScore" x="167.4" y="315.4" class="st3" width="106" height="16.6"/>
    </svg>
	</a>
	
	<div id="beta">
		<a href="#"><input class="btn btn-warning disabled" value="Beta"></a>
	</div>	
	     <div id="scuboid">
			<input class="form-control" placeholder="Search cuboid.io">
		</div>
	</div>
      </div>
    </nav>

<div class="container-fluid">
	<div class=row>
        
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

			<div class="row" >
				<div class="col-lg-12 profile-section">
						<div class="profile-element">
							<br>
							<div id="signup">
                                
                                    <h2>Start Learning For Free u idiot</h2>
							
							<br>
                            <div class="landing-form">
                                                <input class="form-control" placeholder="Email"><br>
                                                <input class="form-control" placeholder="Password"><br>
                                                <input class="form-control" placeholder="Confirm Password"><br>
                                                <center>
                                                <input class="btn btn-warning" value="Sign Up"> 						
                                                </center>
                                            </div>
                                    
                            </div>
							<hr>
							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<svg id="fb" class="icon icon-facebook2"><use xlink:href="#icon-facebook2"></use>
										<defs>
											<symbol id="icon-facebook2" viewBox="0 0 32 32">
<title>facebook2</title>
<path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
</symbol>
										</defs>		
									</svg>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<svg id="tweet" class="icon icon-twitter"><use xlink:href="#icon-twitter"></use>
										<defs>
											<symbol id="icon-twitter" viewBox="0 0 32 32">
<title>twitter</title>
<path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
</symbol>
										</defs>		
									</svg>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<svg id="gp" class="icon icon-google3"><use xlink:href="#icon-google3"></use>
										<defs>
											<symbol id="icon-google3" viewBox="0 0 32 32">
<title>google3</title>
<path d="M16 0c-8.838 0-16 7.162-16 16s7.162 16 16 16 16-7.163 16-16-7.163-16-16-16zM16.238 28c-6.631 0-12-5.369-12-12s5.369-12 12-12c3.238 0 5.95 1.181 8.037 3.138l-3.256 3.138c-0.894-0.856-2.45-1.85-4.781-1.85-4.1 0-7.438 3.394-7.438 7.575s3.344 7.575 7.438 7.575c4.75 0 6.531-3.413 6.806-5.175h-6.806v-4.113h11.331c0.1 0.6 0.188 1.2 0.188 1.988 0.006 6.856-4.588 11.725-11.519 11.725z"></path>
</symbol>
										</defs>		
									</svg>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<svg id="git" class="icon icon-github"><use xlink:href="#icon-github"></use>
										<defs>
											<symbol id="icon-github" viewBox="0 0 32 32">
<title>github</title>
<path d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
</symbol>
										</defs>		
									</svg>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
							</div>
                            <hr>
						</div>		
								
				</div>			
			
			</div>		
		
		</div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			
   					 {{{ content }}}
			
		</div>
	</div>
	</div>
    <div growl></div>
      <br>
  </body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <footer>
			<h5> <b>We are in beta! We would love to hear your feedback.</b></h5>
	</footer>



</html>
