 <div class=row>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="top:80px;">


<style>
    .card {
        background-color: #fff;
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        border: none;
        margin-bottom: 17px;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	line-height: 0.9;
    }
    
    .coming-soon {
        /*-webkit-filter: grayscale(100%);*/
        /* Safari 6.0 - 9.0 */
        /*filter: grayscale(100%);*/
    }
    
    .available:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
</style>

<div class="row">
    <center>
        <a href="/">
            <img src="kitcode-black.gif" height="30%" width="30%">
        </a>
    </center>
</div>
<div style="padding-top: 5px;" class="row">
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input class="form-control" placeholder="Search through kitcode.io">
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>

</div>
<br>
<div style="padding-top: 20px;" class="row">
    <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <a href="/landing/java">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card available">
                    <img src="/images/java_logo.svg" height="14.74%" width="14.74%">
                    <p> Java</p>
                </div>
            </div>
        </a>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="images/python_logo.svg" height="20%" width="20%" class="coming-soon">
                <p> Python</p>
            </div>
        </div>
	<div class="clearfix visible-xs visible-sm"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/c-plus-plus_logo.svg" height="17.705%" width="17.705%" class="coming-soon">
                <p> C++</p>
            </div>
        </div>
	<div class="clearfix visible-lg visible-md"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/git.svg" height="19.915%" width="19.915%" class="coming-soon">
                <p> Git</p>
            </div>
        </div>
	<div class="clearfix visible-xs visible-sm"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/mongodb-logo.png" height="28.759%" width="28.759%" class="coming-soon">
                <p> MongoDB</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/nodejs-logo-e1497443346889.png" height="18.315%" width="18.315%" class="coming-soon">
                <p> Node.js</p>
            </div>
        </div>
	<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/machine-learning-ml_logo.svg" height="19.915%" width="19.915%" class="coming-soon">
                <p> Machine Learning</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/ai.png" height="28.08%" width="28.08%" class="coming-soon">
                <p> A.I.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/Linux_logo.png" height="16.952%" width="16.952%" class="coming-soon">
                <p> Linux System</p>
            </div>
        </div>
	<div class="clearfix visible-lg visible-md"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="images/2000px-AmazonWebservices_Logo.svg.png" height="52.974%" width="52.974%" class="coming-soon">
                <p> AWS</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="images/google-cloud-platform_logo.svg" height="22.465%" width="22.465%" class="coming-soon">
                <p> Google Cloud</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="/images/Azure_.png" height="34.85%" width="34.85%" class="coming-soon">
                <p> Micorsoft Azure</p>
            </div>
        </div>
    </div>
</div>


    </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
            </div>

