<div class="row">
    <script>
        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
            if (scroll >= 500) {
                $(".navbar-static-hidden").addClass(".navbar-static-top");
            }
        });
    </script>
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
        <div style="padding-top: 150px;">
        <a href="/">
            <img src="bg_white.png" style="width: auto; height: 30px; top: 50px;">
        </a>
        
        </div>
        
    </div>
    <div class="col-lg-5"></div>
</div>
<div   style="padding-top: 75px;" class="row">
	<div class="col-lg-2"></div>
    <div class="col-lg-8">
    	<input class="form-control" placeholder="Search through kitcode.io">
    </div>
    <div class="col-lg-2"></div>

</div>
