    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-4 cold-md-4 col-sm-12 col-xs-12">
            <div class="head">
                <div class="avatar">
                    <img class="img-rounded propic" width="200px" height="200px" src="{{user.pro_pic}}">
                    <div class="profile-info">
                        <div class="profile-name">{{user.name}}</div>
                        <div class="profile-details">{{user.email}}</div>
			<div class="profile-details">Last online now&nbsp&nbsp<span class="glyphicon glyphicon-one-fine-green-dot"></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	    <div>
		    <h2>Submissions</h2>
	    	    <hr>
		    <div>
			<div style="border-radius: 5px; border: 2px solid #3b4453; height: 20%; width: 100%;" class="container">
				<h3>You don't have any submissions yet.</h3>
			</div>
		    </div>
		    <h2>Your Courses</h2>
		    <hr>
		    <div class="row">
			    <a href="/landing/java"><div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 img-round">
				<img src="https://d1eq8vvyuam4eq.cloudfront.net/tutorials/learn-java/svg/java_logo" height="80px">
				<p style="color: green; padding-top: 10px;">Freemium</p>
		            </div></a>
			    <a href="#paymentman" data-toggle="collapse"><div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 img-round">
			        <span class="glyphicon glyphicon-plus" style="font-size: 400%;"></span>
			    </div></a>
			    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"></div>
			    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"></div>
			    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"></div>
			    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6"></div>
		    </div>
	    </div><hr>
            <div id="paymentman" class="collapse">
                <center>
                    <form id="payment-form" action="/checkouts" method="post">
                        <section>
                            <label for="amount"><span class="input-label">Amount</span>
                                <div class="input-wrapper amount-wrapper">
                                    <input id="amount" name="amount" type="tel" min="1" value="10" class="form-control" />
                                </div>
                            </label>
                            <div class="bt-drop-in-wrapper">
                                <div id="bt-dropin"></div>
                            </div>
                        </section>
                        <input id="nonce" type="hidden" name="payment_method_nonce" />
                        <button class="btn btn-lg" type="submit"><span>Pay</span></button>
                    </form>
                </center>
            </div>
        </div>
    </div>
    <script src="https://js.braintreegateway.com/web/dropin/1.9.2/js/dropin.min.js"></script>

    <script>
        var form = document.querySelector('#payment-form');
        var token = '{{user.clientToken}}';

        braintree.dropin.create({
            authorization: token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function(createErr, instance) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                instance.requestPaymentMethod(function(err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }

                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>

   
